<h1>Editing Articles</h1>

<%= form_for @article, url: article_path do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label "Description" %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.submit "Update" %>
    </p>

<% end %>

