<!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->

<!--&lt;!&ndash; Optional theme &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->

<!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->


<!--<div class="navbar navbar-default" id="subnav">-->
<!--<div class="col-md-12">-->
<!--<div class="navbar-header">-->

<!--<a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>-->
<!--<ul class="nav dropdown-menu">-->
<!--<li><a href="#"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>-->
<li><a href="articles/new"><i class="glyphicon glyphicon-dashboard" style="color:#0000aa;"></i> Create</a></li>
<!--<li><a href="#"><i class="glyphicon glyphicon-inbox" style="color:#11dd11;"></i> Pages</a></li>-->
<!--<li class="nav-divider"></li>-->
<!--<li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>-->
<!--<li><a href="#"><i class="glyphicon glyphicon-plus"></i> More..</a></li>-->
<!--</ul>-->


<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->

<!--</div>-->
<!--<div class="collapse navbar-collapse" id="navbar-collapse2">-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li class="active"><a href="#">Posts</a></li>-->
<!--<li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>-->
<!--<li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<p>-->
<!--<%= @article.each do |article| %>-->
    <!--<strong>Title:</strong>-->
    <!--<%= article.title %>-->
    <!--<strong>Description:</strong>-->
    <!--<%= article.description %>-->
    <!--
<% end %>-->
<div class="col-md-4 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>List Of Notes</h4></div>
    <div class="panel-body">
      <div class="list-group">
        <% @article.each do |article| %>
            <a href="http://bootply.com/tagged/bootstrap-3" class="list-group-item active"><%= article.title %></a>
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Show', article_path(article) %>
            <%= link_to 'Destroy', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'New article', new_article_path %>