<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!--Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!--<%= link_to 'New article', new_article_path %>-->


<div class="panel panel-info col-md-5">
  <% @article.each do |article| %>
      <div class="checkbox">
        <label>
          <input type="checkbox">
          <b><i class="article title"><%= article.title %></i></b>
          <%= link_to '', edit_article_path(article), :class => "glyphicon glyphicon-pencil" %>
          <%= link_to '', article_path(article), :class => "glyphicon glyphicon-eye-open" %>
          <%= link_to '', article_path(article), :class => "glyphicon glyphicon-remove", method: :delete, data: {confirm: 'Are you sure?'} %>
        </label>
      </div>
  <% end %>
</div>
